@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --twitter-blue: #0084b4;
  --twitter-light-blue: #5bace0;
  --twitter-gray: #877987;
  --twitter-light-gray: #b7b7b7;
  --twitter-border: #e1e8ed;
  --twitter-bg: #ffffff;
  --twitter-hover: #f5f8fa;
  --twitter-link: #0084b4;
  --twitter-text: #14171a;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-color: var(--twitter-bg);
  color: var(--twitter-text);
}

* {
  box-sizing: border-box;
}
